# Environment Variables
# ---
# Development Database
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=
DEV_DB_HOST=localhost
DEV_DB_NAME=hydepwns_liveview_dev
DEV_SECRET_KEY_BASE=dev_secret_key_base

# Test Database
TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=
TEST_DB_HOST=localhost
TEST_DB_NAME=hydepwns_liveview_test
TEST_SECRET_KEY_BASE=test_secret_key_base
MIX_TEST_PARTITION=

# Production/Runtime
DATABASE_URL=ecto://USER:PASS@HOST/DATABASE
SECRET_KEY_BASE=your_production_secret_key_base
PHX_HOST=example.com
PORT=4000
POOL_SIZE=10
PHX_SERVER=true
ECTO_IPV6=false
DNS_CLUSTER_QUERY=

# Optionals
# ---
# SOME_APP_SSL_KEY_PATH=priv/cert/selfsigned_key.pem
# SOME_APP_SSL_CERT_PATH=priv/cert/selfsigned.pem
# MAILGUN_API_KEY=
# MAILGUN_DOMAIN=