<%
# Remove the alias statement - not allowed in HEEX templates
%>

<header>
  <.header_table>
    <:left>
      <.link navigate={~p"/"}>
        <h1>Hydepwns</h1>
      </.link>
    </:left>
    <:right>
      <.nav>
        <.link navigate={~p"/"}>Home</.link>
        <.link navigate={~p"/style-guide"}>Style Guide</.link>
      </.nav>
    </:right>
  </.header_table>
</header>

<main>
  <.flash_group flash={@flash} flash_group_id="flash-group" />
  <%= @inner_content %>
</main>

<footer>
  <hr />
  <.header_table>
    <:left>
      <%= DateTime.utc_now.year %> Hydepwns. All rights reserved.
    </:left>
    <:right>
      <a href="https://github.com/owickstrom/the-monospace-web" target="_blank">The Monospace Web</a>
    </:right>
  </.header_table>
</footer>

<.debug_grid />
