<%
alias HydepwnsLiveviewWeb.Components.DebugGrid
%>

<header>
  <.header_table>
    <:left>
      <.link navigate={~p"/"}>
        <h1>Hydepwns</h1>
      </.link>
    </:left>
    <:right>
      <.nav>
        <:item link={~p"/"} active={Phoenix.Controller.current_path(@conn) == "/"}>Home</:item>
        <:item link={~p"/style-guide"} active={Phoenix.Controller.current_path(@conn) == "/style-guide"}>Style Guide</:item>
      </.nav>
    </:right>
  </.header_table>
</header>

<main>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>

<footer>
  <hr />
  <.header_table>
    <:left>
      <%= DateTime.utc_now.year %> Hydepwns. All rights reserved.
    </:left>
    <:right>
      <a href="https://github.com/owickstrom/the-monospace-web" target="_blank">The Monospace Web</a>
    </:right>
  </.header_table>
</footer>

<DebugGrid.debug_grid />
